
.container{
  max-width: 1800px;
 margin: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/image/santo-domingo-landscape.jpg");
   background-size: cover;
    color: white;
    text-align: center;
    padding: 150px 0px;
    line-height: 1.3;
  
}

footer{
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/image/santo-domingo-footer.jpg");
    background-size: cover;
    text-align: center;
    padding: 150px 0px;
}


.footer-container{
  display: grid;
 grid-template-columns: 1fr 2fr 1fr;
 padding: 150px 60px 100px 60px;

}

.info{
  color: white;
}


.info h3{
    font-size: 20px;
     text-align: start;
     line-height: 1.5;
}

.info p {
 font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-align: start;
text-decoration: none;
line-height: 1.7;
}


.info-links{
display: grid;
 grid-template-rows: 1fr 1fr 1fr;
 text-align: start;
  grid-gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}

.info-links a{
    color: white;
    text-decoration: none;
}

.github-links{
    color: white;
    text-decoration: none;
}


h1{
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 55px;
}

h2{
 font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
 

h3{
    font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
}


.header-button{
    background-color: white;
    color: #272044;
    padding: 10px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
    
}

.section-2-column{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap:65px;
 background-color:white;
 padding: 80px 80px 80px 80px;
}



.img-responsive{
    max-width: 100%;
}

.section-2-column h3{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 17px;
  line-height: 0;
  color:#272044;
  
}

.section-2-column h2{
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  color:#272044;
}

.section-2-column P{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
  color:#272044;
}

.secondary{
   background-color: #F8F8F8;
}

.secondary-header{
    text-align: center;
    padding-top: 20px;
    line-height: 0.5;
}

.secondary-header h2{
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 17px;
}

.secondary-header h3{
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;

}



.grid-3-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 80px 80px 80px 80px;

}

.card{
background-color: white;
text-align: start;
line-height: 2;
 padding: 20px 20px 20px 20px;
}


.card h4{
     font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;

}

.card h5{
 font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;

}


.card p{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;

}



.card-2-column{
display: grid;
grid-template-columns: 1fr 1fr;
}

.card-button{
    text-align: center; 
    padding: 18px;
    background-color: #462CB2;
    color: #FFFFFF;  
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  
}

.img-view{
    width: 350px;
}

.embed{
 width: 100%;
  aspect-ratio: 1 /1;
}

.section-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 50px 80px 80px 80px;
}


@media(max-width:950px){
.section-2-column{
display: contents;
text-align: start;
}

.section-2-column img{
display: none;
}


.section-2-column h3{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
  line-height: 0;
  color:#272044;
  padding-top: 40px;
  
}


.section-2-column P{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
  color:#272044;
}


.secondary-header h3{
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;

}

.grid-3-column{
    display: grid;
    grid-template-columns: 1fr;
}

.card-2-column img{
    display: none;
}

.embed{
     aspect-ratio: 16 / 9;
}

.section-3{
    display: grid;
    grid-template-columns: 1fr;
    padding:0px 0px 50px 0px;
    grid-gap:20px;

}


.img-view{
display:block;
 margin: auto;
   width: 350px;

}

.footer-container{
    display: grid;
    grid-template-columns: 1fr;
}


}